/*------------
    Reset
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
    Commons
-------------*/
.container {
    max-width: 1280px;
    margin: auto;
}

/*------------
    Debug
-------------*/
.debug header {
    background-color: magenta;
    min-height: 150px;
}

.debug .hero {
    background-color: #e1d67a;
    min-height: 500px;
}

/*------------
    Header
-------------*/
header {
    margin-bottom: 20px;
}

/*------------
    Main
-------------*/
.hero {
    margin-bottom: 20px;
}